.zoom {
    margin: auto;
    width: 40%;
    height: 300px;
    background-color: antiquewhite;
    position: absolute;
    right: 15%;
    overflow: hidden;
    display: none;
}

.zoom img {
    position: absolute;
    top: 0;
    left:0;
    max-width: initial;
    max-height: initial;
}